section{

    padding: 60px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
  }
  .title {
    display: flex;
    justify-content: center;
    color: #61286c;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .info h3, p {
    color: #563795;
    text-decoration: none;
    
  }

  .list{
    color: #563795;
  }
  
  .card {
    background-color: #ecf7e9;
    width: 18em;
    box-shadow: 0 5px 25px  rgba(190, 89, 195, 0.232);
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
  }
  